/* ===== AUTH UI DÙNG CHUNG ===== */

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* login/register */
#authButtons {
  display: flex;
  gap: 8px;
}

#authButtons a {
  font-size: 13px;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.25s;
}

/* login */
#authButtons a:first-child {
  border: 1px solid #2c56d6;
  color: #2c56d6;
  background: #fff;
}

#authButtons a:first-child:hover {
  background: #e9efff;
}

/* register */
#authButtons a:last-child {
  background: #2c56d6;
  color: #fff;
  border: 1px solid #2c56d6;
}

/* user box */
.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #edf2f7;
  font-size: 13px;
}

/* icon */
.avatar-icon {
  font-size: 16px;
  color: #2c56d6;
}

/* logout */
#logoutBtn {
  border: none;
  background: #ef4444;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

#logoutBtn:hover {
  background: #dc2626;
}